<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homemade Pickle{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Traditional Pickles</h1>
        <nav>
            <a href="{{ url_for('about') }}">About</a> |
            <a href="{{ url_for('snacks') }}">Snacks</a> |
            <a href="{{ url_for('veg_pickles') }}">Veg Pickles</a> |
            <a href="{{ url_for('non_veg_pickles') }}">Non-Veg Pickles</a> |
            <a href="{{ url_for('products') }}">Products</a>
            {% if session.get('user') %} |
            <a href="{{ url_for('logout') }}" style="color:red;font-weight:bold;">Logout</a>
            {% else %} |
            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('signup') }}">Signup</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    
</body>
</html>
